[2020-11-03 07:48] eddycharly opened #1 "Provide more examples"
Provide more examples

[2020-11-03 07:48] eddycharly opened #2 "Provide more docs"
Provide more docs

[2020-11-03 07:49] eddycharly opened #3 "Add unit tests"
Add unit tests

[2020-11-03 07:49] eddycharly opened #4 "Generate ch"

[2020-11-03 07:49] eddycharly opened #5 "Generate schemas"
Generate schemas

[2020-11-03 07:49] #4 closed

[2020-11-03 07:50] eddycharly opened #6 "Add continuous integration"
Add continuous integration

[2020-11-03 10:41] #5 closed

[2020-11-03 11:30] #6 closed

[2020-11-03 12:36] #1 closed

[2020-11-03 13:09] #2 closed

[2020-11-03 20:40] eddycharly opened #8 "Implement k8s aware rolling update"
Implement k8s aware rolling update (only cloudonly mode supported for now).

[2020-11-03 21:00] eddycharly opened #9 "Export kubeconfig in computed attributes"
Export kubeconfig in computed attributes

[2020-11-03 22:32] eddycharly commented on #9
Implemented

[2020-11-03 22:32] #9 closed

[2020-11-03 22:44] eddycharly commented on #8
Implemented

[2020-11-03 22:44] #8 closed

[2020-11-05 08:24] ari-becker opened #14 "Allow disabling rolling-updates when applying"
We intentionally don't run `kops rolling-update cluster` every time / in an automated way when we update our cluster, since we also run databases (Kafka...) in our Kubernetes cluster, and trying to rotate the cluster without paying attention to the database internals would result in data loss.

I propose adding a `apply_rolling_update_cluster : true / false` variable (even if it's `true` by defaul

[2020-11-05 08:59] eddycharly commented on #14
Hey @ari-becker !

Thanks for raising the issue, i had the same discussion with my team mates yesterday.
It could be added easily but i feel like it's opening doors to uncontrolled drift. I mean using terraform is to make sure the infrastructure does not diverge from the source of truth and this would allow such a divergence by design.

I would be happy to discuss this more though and i'm not agai

[2020-11-05 16:04] ari-becker commented on #14
@eddycharly Right, I would completely understand having `apply_rolling_update_cluster` default to `true`, as described. Teams that don't need the drift shouldn't needlessly suffer from it :)

Because of these requirements though, we ended up building our own rolling-update mechanism that relies on Prometheus metrics to know when it's safe to continue the rollout. It's a little heavy-handed, but it

[2020-11-05 19:38] eddycharly opened #15 "Fix potential cloudonly in rollingUpdate"
Fix potential cloudonly in rollingUpdate

[2020-11-05 20:34] eddycharly commented on #15
Fixed

[2020-11-05 20:34] #15 closed

[2020-11-05 20:36] eddycharly commented on #14
@ari-becker I see your point, i'm going to add support for optional rolling update and validation.

[2020-11-05 21:03] eddycharly commented on #14
I opened a PR.

It will look like
[code]

Same thing for validating the cluster.

[2020-11-05 21:28] eddycharly opened #18 "Add doc for installing from a release"
Add doc for installing from a release.

[2020-11-06 01:02] ari-becker commented on #14
Fantastic, thank you!

[2020-11-06 09:50] #14 closed

[2020-11-06 10:02] eddycharly commented on #18
Done.

[2020-11-06 10:02] #18 closed

[2020-11-11 11:58] eddycharly commented on #14
I moved the options in the provider config rather than in the cluster resource itself.

[2020-11-14 08:13] eddycharly opened #28 "Implement datasource"
Implement datasource

[2020-11-14 08:13] eddycharly opened #29 "Document provider config"
Document provider config

[2020-11-23 12:53] eddycharly commented on #28
Done

[2020-11-23 12:53] #28 closed

[2021-01-30 15:22] eddycharly opened #89 "kOps 1.19 - add support for kops authentication plugin"
kOps 1.19 - add support for kops authentication plugin

[2021-01-30 15:27] eddycharly opened #90 "kOps 1.19 - add support for --allow-kops-downgrade equivalent"
kOps 1.19 - add support for --allow-kops-downgrade equivalent

[2021-02-01 09:33] eddycharly commented on #29
done

[2021-02-01 09:33] #29 closed

[2021-03-26 07:50] artbaghdasaryan opened #158 "KOPS Route53 Private Zone (No Such Host)"
In case of deploying the K8S Cluster via `kops_cluter` and the selecting the Private Zone which is created beforehand
the` kops_cluster_updater` fails as the newly created record `api.CLUSTER-NAME.DNS-ZONE` is not resolvable
We may add a timeout for 5-10 min's as the `terraform apply` fails

[2021-04-11 19:13] eddycharly commented on #158
I'm not sure where to add the timeout.
The code that applies the cluster is the same code as in kops itself (there's nothing like a loop with a timeout in the kops code).

Am I correct thinking that the tf code you have creates the vpc, the private zone and the cluster ?

If so, do you have a `depends_on` statement from the `kops_cluster_updater` to the private zone ?
Maybe it could help running t

[2021-04-11 19:29] artbaghdasaryan commented on #158
I even created the zone manually and with `depends_on` it throws the same error.
So the record is created properly but the host which is executing the `nslookup` resolves the `api` IP after2-3 minutes
![image](https://user-images.githubusercontent.com/72495751/114318397-bf410b80-9b1d-11eb-89e3-2e50389cd600.png)

[2021-04-11 19:30] artbaghdasaryan commented on #158
Yes the code creates the VPC,passes the subnet ids to kops provider

[2021-04-11 20:01] eddycharly commented on #158
Thanks for the additional infos.
At what point the updater fails ? Does it keeps saying `Still creating...` ?

Also, the nat seems to be in the creating state, without the nat up, nodes in private subnets won't be able to start (they need internet access).

[2021-04-11 20:12] eddycharly commented on #158
I feel like it is an issue with the rolling update attempt.

Does it fail (at creation time) if you skip the rolling update phase ?

[code]

[2021-04-11 20:12] artbaghdasaryan commented on #158
It stuck with `module.k8s-cluster.kops_cluster_updater.updater: Still creating... [20s elapsed]`
And then the NAT gateway is up
`module.vpc.aws_route.private_nat_gateway[2]: Creation complete after 1s [id=r-rtb-07f4bde3c550204251080289494]`
it fails with
`Error: Get https://<Cluster Name>/api/v1/nodes: dial tcp: lookup api.<Cluster Name> on 10.0.0.2:53: no such host`

[2021-04-11 20:13] artbaghdasaryan commented on #158
Yes
Even I tried the `timeouts`

[2021-04-11 20:22] eddycharly commented on #158
Strange, i don't think applying the cluster uses the api server.

Rolling update and validation use it. Rolling update does not tolerate the resolve error but validation tolerates it.
With rolling update skipped, it should apply the cluster and move to validation.
Validation could take some time but shouldn't fail.

I'll try to confirm this with the kops maintainers.

[2021-04-12 06:08] eddycharly commented on #158
I just got confirmed that applying a cluster itself should not be the cause of the error, it's either an issue with rolling update or validation.

Can you please try with both disabled and let me know if the issue happens again ?
[code]

[2021-04-12 06:14] artbaghdasaryan commented on #158
It works with this configuration
But now it throws another error

[2021-04-12 06:14] artbaghdasaryan commented on #158
`Error: Kubernetes cluster unreachable: invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable`

[2021-04-12 06:17] eddycharly commented on #158
At what point do you have the `Error: Kubernetes cluster unreachable: invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable` error ?

Is this an error with the provider or when trying to use `kubectl` ?

[2021-04-12 09:50] artbaghdasaryan commented on #158
When running the `terraform apply` second time

[2021-04-12 09:54] eddycharly commented on #158
The error is bound to the `updater` ?
Did you change the config between first and second apply ?

[2021-04-12 17:13] artbaghdasaryan commented on #158
The error is bound to `helm` provider which uses `kubernetes`

Also another error on the first change after creation

[code]
My configuration
[code]

Error logs for `helm` provider
[code]

And if I set ENV variable `export KUBE_CONFIG_PATH=~/.kube/config` and rerun the apply it executes without error

[2021-04-12 19:00] eddycharly commented on #158
The way you use `data.kops_kube_config` looks okay, i use it exactly the same as you.

This should not be set, this is why `data.kops_kube_config` exists, there's no need to have the config set up in the kubeconfig file.

The error regarding the `revision` looks strange, it is a computed value and it looks like the value changed between plan and apply.

How do you declare your `data.kops_kube_conf

[2021-04-13 06:11] artbaghdasaryan commented on #158
[code]

[2021-04-13 11:39] eddycharly commented on #158
I’m finalising the alpha support for 1.19 today.
I will swap validation and rolling update order, hopefully it should help.
Will you be able to test it ?

[2021-04-13 11:59] artbaghdasaryan commented on #158
Sure. Please let me know when You are done

[2021-04-14 18:47] eddycharly commented on #158
You can try the `1.19.0-alpha.6` provider.
Beware that there are a few issues with kops and calico though (https://github.com/kubernetes/kops/pull/11203) that can potentially be hard to workaround.

[2021-04-15 06:44] artbaghdasaryan commented on #158
Can You share the example to enable `addons` as it is not documented yet ?

[2021-04-15 07:33] eddycharly commented on #158
Do you mean addons like clusterautoscaler ?
You have to enable it in the cluster resource, see the docs https://registry.terraform.io/providers/eddycharly/kops/latest/docs/resources/cluster#cluster_autoscaler_config

[2021-04-15 07:34] eddycharly commented on #158
Probably adding something like this:
[code]

[2021-04-15 07:45] artbaghdasaryan commented on #158
And which addons it will enable ?

[2021-04-15 07:49] artbaghdasaryan commented on #158
It is not working
[code]

[2021-04-15 07:59] artbaghdasaryan commented on #158
Maybe only `cluster_autoscaler` addon is supported in this alpha version ,and I wanted to add the `cert-manager` as well

[2021-04-15 08:00] eddycharly commented on #158
It's not a named argument but a nested struct, you shouldn't have an `=` sign. (no `cluster_autoscaler = `)

[2021-04-15 08:07] eddycharly commented on #158
You don't need the `addons` stanza too.
Try something like this:
[code]

[2021-04-15 08:17] artbaghdasaryan commented on #158
Thanks it works now, just to double check if `cert-manager` addon will be added or I will go on with `helm-chart` ?

[2021-04-15 08:28] eddycharly commented on #158
It is, everything kops 1.19.2 supports should be supported.
look at the docs link I sent you in the previous message.

[2021-05-06 16:04] kthompson opened #193 "Error: kops upgrade is required"
When creating a new terraform config with the kops plugin enabled I get the error `Error: kops upgrade is required`. I have the latest version of kops, I am not sure where this error is coming from.

Example config:

[code]

[2021-05-06 18:10] eddycharly commented on #193
Hello @kthompson, thanks for raising the issue.

Are you showing the real config here ?
I don't think kOps can start a cluster without at least a worker instance group (you seem to have only masters).
Also, remember that you will need internet access (either through an internet gateway or nat gateway).

Regarding your error, it looks like you created the cluster first with a newer version of kOps

[2021-05-06 18:11] eddycharly commented on #158
@artbaghdasaryan is there something i can do to help you or shall i close the issue ?

[2021-05-06 18:28] kthompson commented on #193
For the most part I just coped the example from Basic, which I now realize also does not have an instance group with a Node role. Let me try to wipe everything and add the node instance group.

[2021-05-06 20:19] kthompson commented on #193
Ok so I made a new test repo. again I am just looking to test out the plugin. Now I am getting a different error that I an unable to figure out.

The Test repo is here:
https://github.com/kthompson/kops-cluster-test/blob/main/main.tf

new error is:
[code]

I am trying to look through the code and I imagine its failing in here somewhere but I cant really tell where: https://github.com/eddycharly/te

[2021-05-06 20:28] eddycharly commented on #193
From the error, it looks like the files in the state store already exist.

[code]

Your state store should be something like `s3://<name of your bucket>`. Can you look in the bucket and make sur the files don't exist before creating the cluster ?

[2021-05-06 20:41] kthompson commented on #193
Ok I updated the state store. it was empty. Now the cluster resource is created as well as the instance groups. however now the `kops_cluster_updater.updater` is failing:

[code]

[2021-05-06 20:47] eddycharly commented on #193
Yeah, kops abstracts the subnets concept.
You should use the name you declared in your cluster, no the aws subnet id.

[code]

[2021-05-06 21:34] kthompson commented on #193
Making that change seemed to help. Feel free to copy my test case as an example for AWS if you would like. Feel free to close this issue. Thanks for the help 👍

[2021-05-06 21:39] eddycharly commented on #193
Glad it helped !

I will take time to improve the examples with a fully working sample tomorrow.

[2021-05-06 21:39] #193 closed

[2021-05-07 05:40] artbaghdasaryan commented on #158
Hey @eddycharly
Thanks for prompt support
We can close the issue

[2021-05-07 06:39] eddycharly commented on #158
👍

[2021-05-07 06:39] #158 closed

[2021-05-13 21:02] eddycharly commented on #90
implemented

[2021-05-13 21:02] #90 closed

[2021-05-17 21:20] eddycharly opened #205 "Make CI run with terraform 0.15"
Make CI run with terraform 0.15.

[2021-05-25 10:48] wesselvdv opened #212 "upgrade to kops 1.20.1"
Any idea on when this will be upgraded to 1.20.1?

[2021-05-25 10:49] wesselvdv opened #213 "missing configurable option csiPluginName"
I am missing the option to configure the following property:

[code]

Without this option, I can't deploy kops.

[2021-05-25 10:50] wesselvdv commented on #212
I probably should've checked the op PRs first. Apologies.

#204

[2021-05-25 10:50] #212 closed

[2021-05-27 11:51] wesselvdv opened #217 "Unable to deploy on Openstack due to arbitrary zone assignment to subnet"
In its current state it seems to be impossible to use this provider to deploy to Openstack because it's not handling the network deployment for you. It seems that kOps needs a availability zone designation for a subnet, which does NOT exist for Openstack. They've solved this in a way that makes this impossible to predict what the expected zone should be for a subnet:

https://github.com/kubernetes

[2021-05-27 14:52] wesselvdv commented on #217
I have been looking in the source code to see how one would implement this, but from my (limited) understanding I deduce that this provider is not using the same entrypoint as the kOps cli. I feel like I must be missing something obvious that would explain why this provider is using `cloudup.BuildCloud` instead of the `cloudup.CreateCluster`. From what I understand the former approach requires a l

[2021-05-27 17:46] eddycharly commented on #217
Hello, thanks for raising the issue.
To be honest i have no Openstack knowledge but i can read about the kOps docs to check how it is supposed to work.

You're right that the provider does not support network creation, i could eventually add support for that but i'm surprised it's mandatory for Openstack.

Regarding the entrypoint, basically it's the same as kOps CLI, `create cluster` `create ig`

[2021-05-27 17:51] eddycharly commented on #213
Isn't it a 1.20 option only ?
I started working on 1.20 support, the current version is based on kOps 1.19.3 (and i feel like `csiPluginImage` is not present in this version).

I will try to publish an alpha version for 1.20 tonight.

[2021-05-27 17:55] eddycharly commented on #213
It is present in 1.20 indeed (see https://github.com/eddycharly/terraform-provider-kops/blob/kops-1-20/docs/resources/cluster.md#openstack_block_storage_config) the corresponding name is not correct though `cs_iplugin_image`.

[2021-05-27 17:58] wesselvdv commented on #217
As I suspected my limited knowledge prevented me from understanding the entry point part. I completely understand and follow the logic there.

Here's the Terraform configuration, mind you I removed some sensitive parts and it includes more providers. (Keycloak, pass & aws):

[code]

[2021-05-27 18:01] wesselvdv commented on #213
Awesome! I will definitely try that 1.20 one.

[2021-05-27 19:26] eddycharly commented on #217
From what i see it should be possible to use an existing network with Openstack (see https://kops.sigs.k8s.io/getting_started/openstack/#use-existing-networks).

You should probably configure subnets in the cluster spec (`kops_cluster`).

[2021-05-27 19:28] wesselvdv commented on #217
But I believe I am doing that no? There’s two dynamic subnet blocks there.

[2021-05-27 19:33] eddycharly commented on #217
Not sure, I don't see any `subnet` block in your `kops_cluster` 🤔

[2021-05-27 19:37] wesselvdv commented on #217
well, shit. You're right, I was playing around with the configuration a bit to see if I could get around the issue, I must've deleted the subnets in one of those attempts. I edited the code block, and inserted the code I am using that's giving me the problem in this issue.

[2021-05-27 19:49] eddycharly commented on #213
I published version `1.20.0-alpha.1`. Beware that i didn't test it at all yet, not even on AWS.
I fixed the `csi_plugin_image` attribute name, let me know how things go.

[2021-05-27 19:51] eddycharly commented on #217
Ah yes, I went briefly through it and it looks good.

Regarding the `Subnet "<long uuid>" has configured Zone "rc3-a", but the actual Zone found was "rc3-c"` error.
Maybe you could download the cluster and instance groups from s3 and check the generated manifests ? Maybe it will help finding what goes wrong.

[2021-05-27 20:21] wesselvdv commented on #217
It never seems to put any manifests in the S3 bucket. So, I can't get them :-(

[2021-05-27 22:06] eddycharly commented on #217
Could it be because sometimes you iterate with `for_each = toset(local.availability_zones)` and sometimes with `for_each = local.availability_zones` because `toset` changes the order ?

It looks like the offending code is called from here https://github.com/kubernetes/kops/blob/97869057129b30ea284c3ed1bdf1db36e752701d/upup/pkg/fi/cloudup/defaults.go#L103-L110 when performing assignments.

Hard to

[2021-05-27 22:27] eddycharly commented on #217
I see your point, the call to `allZones.List()` [here](https://github.com/kubernetes/kops/blob/97869057129b30ea284c3ed1bdf1db36e752701d/upup/pkg/fi/cloudup/new_cluster.go#L903) looks strange.

Maybe you can create an issue in kOps and eventually linked the discussion here ?

[2021-05-28 07:25] wesselvdv commented on #217
Yes, but I don't think that code is actually called or am I missing something? The code you're linking is only called if you're using the same entry point as the cli.

If I am understanding correctly you're doing the following:

[code]

Whereas the kOps cli is doing this:

[code]

The code you're linking to is only executed if you're first calling `cloudup.NewCluster` (`cloudup.NewCluster->SetupTo

[2021-05-28 07:38] eddycharly commented on #217
Interesting, i might be missing a call to `cloudup.NewCluster` indeed (https://github.com/eddycharly/terraform-provider-kops/blob/c73f48265c2dc329324048d49c772e93b5df7bea/pkg/api/resources/Cluster.go#L63-L70).

I will try to add that today.

One more question, does kOps CLI works ?

[2021-05-28 07:52] wesselvdv commented on #217
Yes, kOps cli works!

[2021-05-28 12:07] eddycharly commented on #217
Ok, i will look into it asap.

[2021-05-28 13:31] eddycharly commented on #217
@wesselvdv I looked into `cloudup.NewCluster` deeper and i feel like it doesn't make sense to include it in the provider. It is used to setup the cluster struct from command line options but the provider should not need it, the end user should be responsible to set the right configuration in the tf code.

From what i understand, `cloudup.BuildCloud` uses the subnets to feed the zones list (https:/

[2021-05-28 14:01] wesselvdv commented on #217
alright, I hope that it's an easy fix.

[2021-06-02 22:44] eddycharly commented on #217
Hello @wesselvdv unfortunately I didn’t have the chance to get an answer from kOps maintainers on this issue.

Not sure how I can help further.

Sorry for that but I don’t know openstack and have no way to experiment with it currently.

Thanks for giving a try to the provider.

[2021-06-03 20:21] eddycharly commented on #213
Closing, it's now supported.

[2021-06-03 20:21] #213 closed

[2021-06-09 08:35] wesselvdv opened #228 "Add support to re-use existing aws provider"
Is it possible to add support to re-use an existing aws provider configuration? Much like you can pass around a specific provider to modules or resources?

Related to #229, as the required options in that issue are coming from the existing aws provider configuration.

[2021-06-09 08:38] wesselvdv opened #229 "Add support for more aws configuration options other than profile, assume_role and region."
I am using a S3 compatible bucket that requires some serious additional configuration options to be configured to allow it to work:

[code]

Without these additional configuration options I am unable to provide kOps access to the S3 state store.

[2021-06-09 08:40] wesselvdv commented on #217
I managed to find a way around this by specifying the `CIDR` for a subnet. Looking at the code that causes the error made me realise that there's an if statement that prevents the execution if there's already a CIDR block defined on the subnet in question. Since I already have that information, it was easy for me to pass it in as well.

[2021-06-10 10:13] eddycharly commented on #229
Sure, I’ll add those shortly, thanks for asking.

[2021-06-10 10:16] eddycharly commented on #228
Using an existing provider is going to be hard, kOps does everything by itself.
I’ll add the missing options.

[2021-06-10 13:20] wesselvdv commented on #229
I am using the 1.20-alpha btw, not sure if that makes a difference.

[2021-06-10 13:20] wesselvdv commented on #228
I have no idea how that works under the hood, but I gather it's not that possible to reference to different configuration properties from passed in provider?

[2021-06-10 18:32] eddycharly commented on #229
I don’t think I’ll back port it to previous versions (unless someone asks for it) so it’s fine :)

[2021-06-10 19:38] eddycharly commented on #229
Not sure if i can add everything you need 🤔

[code]

I'm not sure how i can make kOps understand this.

Did you look at this https://github.com/kubernetes/kops/blob/master/docs/state.md ?
Are you using an S3 compatible endpoint ?

[2021-06-10 19:40] wesselvdv commented on #229
You’re right, I guess that everything that kOps understands is good enough. That works for us using the kOps CLI

[2021-06-10 19:44] eddycharly commented on #229
I added a few options here https://github.com/eddycharly/terraform-provider-kops/commit/01e1fe7b76ea3774340286504922aca80ba78e84
Do you think it could suit your needs ?

[2021-06-10 19:45] eddycharly commented on #217
Awesome, would you mind contributing a simple example of what you did ?

If you have something that works i would be quite happy to update the readme and docs/examples.

[2021-06-10 19:54] theFong opened #231 "Whats the easiest way to import an existing Kops cluster on AWS?"
Love this project!

Is there documentation about what the subnets name, provider_id, type, and zone and where I can find those values if I already created the cluster's networking with Kops?

Thanks!

[2021-06-10 19:57] wesselvdv commented on #229
Oh hell yes, that’s sweet! Thanks for spending the time to get this kind of stuff in!

[2021-06-10 19:57] eddycharly commented on #231
Hello,
You can import your cluster with `terraform import` command, the network infos should be imported in your state.
After that you can adapt you tf code to match what was imported ?

[2021-06-10 19:58] eddycharly commented on #228
I definitely don't see how to do this honestly.

[2021-06-10 19:59] eddycharly commented on #231
See https://github.com/eddycharly/terraform-provider-kops#importing-an-existing-cluster

[2021-06-10 20:01] eddycharly commented on #229
`v1.20.0-alpha.2` should be available in a couple minutes (https://github.com/eddycharly/terraform-provider-kops/actions/runs/926316835)

If you need some specific openstack settings (swift ?) i can add this too.

[2021-06-10 20:10] wesselvdv commented on #229
I don’t need any of that, but I do think it’s useful to have it in anyway. I’d be easier for other who do use Swift in combination with Openstack.

[2021-06-10 20:13] eddycharly commented on #229
Ok, I’ll wait someone asks for it then.

[2021-06-10 21:54] theFong commented on #231
Great! I think the command I was looking for was `terraform state show kops_cluster.cluster`.

Im now getting the error `The argument "network_id" is required, but no definition was found.` and `The argument "provider_id" is required, but no definition was found.` Are these the vpc id and subnet id respectively?

[2021-06-10 22:02] eddycharly commented on #231
`network_id` is the vpc id.
`provider_id` is the subnet id.

I'm not quite sure how kOps works when it creates the network.

I guess it creates the vpc/subnets then adds them in the cluster spec 🤔

Are those values set when you look at the cluster spec yaml object stored in the s3 bucket ?

[2021-06-10 22:17] theFong commented on #231
It doesn't look like the vpc id and subnet id are in the cluster spec unfortunately

[2021-06-10 22:39] eddycharly commented on #231
Ok so kops has to deduce this every time it runs ?
I’ll check the code but it’s really the case you have no other choice than identify the vpc id and subnet ids to fill the gap.

[2021-06-10 22:50] #231 closed

[2021-06-10 22:55] theFong opened #232 "Add Support for kOps Secrets"
Would be great to support creation of [kOps Secrets](https://kops.sigs.k8s.io/cli/kops_create_secret/). I use them to provide docker hub api credentials via the [dockerconfig secret](https://kops.sigs.k8s.io/cli/kops_create_secret_dockerconfig/).

[2021-06-11 06:16] eddycharly commented on #232
Thanks for opening the issue, I’ll look into it ASAP.

[2021-06-11 17:37] wesselvdv commented on #229
I do need other openstack options though, I have no use for swift but anything openstack related I definitely need!

[2021-06-11 18:00] eddycharly commented on #229
Let me know what is missing and I’ll add it.
It should not be long to add.

[2021-06-11 18:56] wesselvdv commented on #229
I am not sure if the openstack credentials are picked up from the env by kOps with this provider? Or should they be passed in as with AWS? I am running into some errors which could be because it's unable to auth to openstack. If they're being picked up just like the openstack provider, then I might not need anything else. Still investigating where this new error is coming from..

[2021-06-11 21:18] eddycharly commented on #229
I guess I should add support for the variables here https://github.com/kubernetes/kops/blob/97869057129b30ea284c3ed1bdf1db36e752701d/util/pkg/env/standard.go#L50

I’ll do that tomorrow.

[2021-06-11 21:20] eddycharly commented on #229
For sure the env variables won’t be picked up automatically.
The provider is running in its own process and I don’t think it will inherit the env vars at all.

[2021-06-11 21:21] eddycharly commented on #228
@wesselvdv can I close this one ? I don’t see it happen tbh.

[2021-06-13 12:24] wesselvdv commented on #228
Yes, lets close. It was just an idea.

[2021-06-13 12:24] #228 closed

[2021-06-13 13:18] eddycharly commented on #229
@wesselvdv I added openstack options here https://github.com/eddycharly/terraform-provider-kops/commit/cf13c768b8e93e74c06e1743f56a69e376afc86e

`v1.20.0-alpha.3` is being built.

[2021-06-24 07:06] wesselvdv commented on #229
Awesome! I've tried it, and it seems to be working. I am running into other issues, that I am investigating now. Will come back here if I am missing a variable.

[2021-06-24 11:37] wesselvdv commented on #229
Is there a way to pass in the debug env variables to kops? I am getting an error on allocating a floating ip that's failing due to the resource missing, but I can't really debug it without more information. It might be because we're using a self signed certificate on the openstack side that i've previously passed in using the env variable `OS_CACERT`, but that's hard to discern if I can't increase

[2021-06-24 23:47] eddycharly commented on #229
I think it’s not possible as is but I’ll look into it. Shouldn’t be difficult at all.

Did you try to increase the terraform log level ?
kOps code should log errors if any.

[2021-06-28 20:51] eddycharly commented on #232
@theFong I implemented basic support for `kops_dockerconfig`.

This is completely untested for now and very subject to change but if you try it out i would be interested to know how things go.

In the end, i feel like it would make sense to embed it in the cluster resource as there can be only one dockerconfig per cluster.
I will probably take some time later this week to implement it this way as

[2021-06-29 00:34] theFong opened #250 "Add support for Node Problem Detector addon"
https://kops.sigs.k8s.io/addons/#node-problem-detector

[2021-06-29 06:31] eddycharly commented on #250
Hello @theFong NPD is introduced in kOps 1.22, it will be supported when 1.22 is released.

[2021-06-29 08:20] wesselvdv opened #251 "error running tasks: deadline exceeded executing task FloatingIP/fip-api.dev.k8s.local. Example error: Failed to create floating IP: CreateL3FloatingIP: create L3 floating IP failed: Resource not found"
I am running into an issue where kops is unable to execute a task related to assigning/creating a floating ip. I have also created an issue at the kops repository [(here)](https://github.com/kubernetes/kops/issues/11889) because I think this task is also failing on the cli but seems to resolve itself regardless of the error. (floating ip is created/assigned) It seems this provider is more strict,

[2021-06-29 08:26] wesselvdv commented on #205
I guess you can add 1.0.0 to this list too by now

[2021-06-29 20:46] eddycharly commented on #251
Hey @wesselvdv at least the credentials issue was fixed.

Do you have more details ? Does the cluster finishes by being created (maybe after applying the tf code multiple times) ?

The lifecycle should apply the cluster spec and create the necessary cloud resources.
What happens if you skip validation in the lifecyle ?

I guess the floating ip is coming from this part of the spec:
[code]

Are ther

[2021-06-29 20:48] eddycharly commented on #229
Hmmm, that's not so easy, there is no kOps env variable, it's `klog` doing some trickery with the command line directly.
I need to find a way to set `klog` log level programatically.

[2021-06-30 07:20] wesselvdv commented on #229
I'll close this issue as this has been resolved, and I'll open a new one to investigate how to support the cli equivalent of `-v <debuglevel>`.

[2021-06-30 07:20] #229 closed

[2021-06-30 07:21] wesselvdv opened #252 "Add equivalent of `-v` flag of cli to increase debug level information"
Add equivalent of `-v` flag of cli to increase debug level information. kOps is using `klog`, and it's unclear how to set this level programmatically.

[2021-06-30 07:24] wesselvdv commented on #251
I don't have any more details unfortunately due to being unable to set an equivalent of the cli flag `-v <debug_level>`.  I did notice that applying it multiply times results in the same error.

I'll give this a go.

I am not sure how to influence the timeout of a specific task. I did try to see if there was something else in the spec that would allow me to exert any form of control over how this

[2021-06-30 08:24] wesselvdv commented on #251
Tried this, didn't make a difference. Still the same error.

[2021-07-02 06:51] wesselvdv commented on #252
I see you've added preliminary support for this in b668a96cc231c4f6a724a46b2702897fb2919a9f, mind to release it so I can use it for #251 ?

[2021-07-02 12:06] rmgpinto opened #255 "Error importing kops cluster"
Hi,

First of all, thanks for this work, it's amazing.

I have an error importing a kops cluster generated via the cli.

Code:

providers.tf
[code]

modules/kops/kops.tf
[code]

[code]

Is there a way to debug ?

[2021-07-02 12:17] rmgpinto commented on #255
Got it working, issue was in the provider: state store should only include the s3 bucket.

[2021-07-02 12:17] #255 closed

[2021-07-02 18:09] rmgpinto opened #256 "kubelet anonymousAuth not being passed to kubelet"
kubelet and kube-api-server are not receiving the `anonymous_auth` parameter from terraform.

config:

[code]

kubelet cmdline on node
[code]

There should be an `--anonymous-auth=false`

Can you check this please? Thanks

edit: just check now, and if I pass `yes` then the flag `--anonymous-auth=true` is added to kubelet and to kube-api-server. Maybe something wrong with the code processing the fa

[2021-07-02 21:20] eddycharly commented on #256
Hello @rmgpinto 👋
Thanks for reporting. I'll look at it but i'm pretty sure i'm not catching the difference between null and false.
It's a common problem when translation from hcl config to go struct.

[2021-07-02 21:22] eddycharly commented on #256
See the expansion code here https://github.com/eddycharly/terraform-provider-kops/blob/9fa064e31447923e7b9cf421805e34b543c6cb7b/pkg/schemas/kops/Resource_KubeletConfigSpec.generated.go#L115-L117.
One hack to fix this to make the parameter mandatory but it's not silver bullet as null gets unsupported.

[2021-07-02 21:32] eddycharly commented on #252
Yeah, sure.
Beware that it's completely untested though, let me know if it works and helps.

`v1.20.0-alpha.5` is being released and should be available in a couple of minutes.

[2021-07-03 10:47] eddycharly commented on #255
Thanks for trying it out @rmgpinto !

[2021-07-03 14:31] eddycharly commented on #256
I think a solution would be to make the argument a struct, something like this:
[code]

[2021-07-03 14:39] rmgpinto commented on #256
If it fixes the problem, that would be great!

On Sat, 3 Jul 2021 at 15:31 eddycharly ***@***.***> wrote:

[2021-07-03 14:43] eddycharly commented on #256
There are two possible solutions, the one above or:

[code]

I'm not a big fan of adding a `_specified` argument for every prop that is a pointer in kOps.

[2021-07-03 14:45] rmgpinto commented on #256
Not a big fan either, and it would cause confusion.

On Sat, Jul 3, 2021 at 3:43 PM eddycharly ***@***.***> wrote:

[2021-07-03 14:48] eddycharly commented on #256
I agree, I'm making this change, i had this in mind for some time.

[2021-07-03 15:23] rmgpinto commented on #256
Thank you very much!

On Sat, 3 Jul 2021 at 15:48 eddycharly ***@***.***> wrote:

[2021-07-05 09:13] eddycharly commented on #256
WIP here https://github.com/eddycharly/terraform-provider-kops/pull/258
It's gonna be a huge change though.

[2021-07-05 09:30] rmgpinto commented on #256
Hi, just my two cents regarding the PR and the code above.

I thought only kubelet -> anonymous_auth was going to be this way, but I saw the PR and every value will change. IMO this is not a very terraform way of specifying values.

I'd simplify things and set a sensible default for `anonymous_auth` and other boolean values, if the value is not specified.

[2021-07-05 10:13] eddycharly commented on #256
The issue happens with every prop that is a pointer in kOps code, not only kubelet `anonymous_auth` unfortunately.

For some props, setting a sensible default value will do the trick but in some cases where `null`, `false` and `true` can have a different meaning.

Going through all props and finding a sensible value is gonna be a pain and I feel like a lot of bugs are introduced because of this.

[2021-07-05 11:01] rmgpinto commented on #256
does this: https://stackoverflow.com/questions/43351216/check-if-boolean-value-is-set-in-go help?

I understand the issue with `nil` vs `false` but on the PR there are changes like:

[code]

Which are odd to me... Why do string values need to be changed as well?
Trying to push for a better solution here :)

[2021-07-05 11:34] eddycharly commented on #256
I wonder why it is a pointer in kOps in the first place (https://github.com/kubernetes/kops/blob/559b57ea4c85931987da2bb1de85f7d9cd81f880/pkg/apis/kops/cluster.go#L586)

TBH it's probably safe to interpret `""` as `null` here but in some cases interpreting zero as `null` is not correct (see https://github.com/kubernetes/kops/blob/559b57ea4c85931987da2bb1de85f7d9cd81f880/pkg/apis/kops/instancegroup

[2021-07-05 11:56] eddycharly commented on #256
But i agree it could be nuanced for some props.

[2021-07-05 14:50] eddycharly commented on #256
@rmgpinto second try https://github.com/eddycharly/terraform-provider-kops/pull/259

Maybe safer 🤷

[2021-07-05 15:08] rmgpinto commented on #256
Amazing @eddycharly, looking forward for a new release!

[2021-07-05 15:58] eddycharly commented on #256
Ok, let's merge the pr and see how things go 🤞

[2021-07-05 16:04] eddycharly commented on #256
`v1.20.0-alpha.6` is being built.

Thanks for your great feedback, let me know if it fixes your issue.

[2021-07-05 16:20] rmgpinto commented on #256
Thanks! I'll test today or the latest tomorrow.

On Mon, Jul 5, 2021 at 5:04 PM eddycharly ***@***.***> wrote:

[2021-07-05 16:33] rmgpinto commented on #256
Just tested this, looks good to me. Thanks for the quick response.

[2021-07-05 16:33] #256 closed

[2021-07-05 16:55] rmgpinto opened #261 "kops_cluster_updater verbosity"
Me again :)

It would be very useful to have `kops_cluster_updater` be as verbose as a `kops rolling-update cluster --yes`
I just have a bunch of lines like:

[code]

[2021-07-05 17:04] eddycharly commented on #261
Definitely but I don’t know any way of doing this with terraform, I’m not sure at all it’s even possible  :(

You can use the tf env variables to get more logs though (TF_LOG, TF_LOG_PATH etc…)

[2021-07-05 18:40] theFong opened #262 "Node termination handler enableSQSTerminationDraining support"
It doesn't seem like there is [sqs termination support](https://kops.sigs.k8s.io/addons/#node-termination-handler) in the config. Is this the case?

[2021-07-05 18:44] eddycharly commented on #262
It comes with kOps 1.21 (https://kops.sigs.k8s.io/addons/#queue-processor-mode).

It is not yet supported (1.20 is in alpha, I will add 1.21 support soon).

[2021-07-05 19:36] theFong commented on #262
Ah I didn't see that it was 1.21 👍

[2021-07-05 19:50] eddycharly commented on #252
It should be fixed, please reopen if the issue persists.

[2021-07-05 19:50] #252 closed

[2021-07-05 19:51] eddycharly commented on #251
This could be related to #256, maybe there is something that need to be set to `false` but ends up with `null`.

[2021-07-05 20:06] wesselvdv commented on #251
I’ll run it with the debug flags tomorrow

[2021-07-05 21:36] eddycharly commented on #205
Closing, i added both 0.15 and 1.0 in #270

[2021-07-05 21:36] #205 closed

[2021-07-05 21:36] eddycharly commented on #89
Closing for now, not sure if it makes sense TBH.

[2021-07-05 21:36] #89 closed

[2021-07-05 21:37] eddycharly commented on #217
@wesselvdv can we close this issue ? It looks like you managed to resolve the zone matching issue.

[2021-07-05 21:38] eddycharly commented on #232
@theFong I'm changing the implementation in #266
I will test it this week and plan to release a beta for 1.20.

[2021-07-05 21:39] eddycharly opened #271 "Add kOps 1.21 support"
kOps 1.21 is out, let's add support for it when the beta for 1.20 has been cut.

[2021-07-05 22:16] eddycharly commented on #271
Started implementation in #272

[2021-07-05 22:28] eddycharly commented on #262
I started to implement 1.21 support in #271

It should take a couple of days though.

[2021-07-06 05:59] wesselvdv commented on #217
Yes, I haven’t had a chance to get a working example for that includes this.

[2021-07-06 05:59] #217 closed

[2021-07-07 06:53] wesselvdv commented on #252
The latest version doesn't have the verbosity block.

[2021-07-07 06:56] wesselvdv commented on #251
The latest version doesn't have the verbosity fix in yet. Could you release this?

[2021-07-07 07:01] eddycharly commented on #252
Hello, look at the example [here](https://github.com/eddycharly/terraform-provider-kops/blob/01bdcf6317aa32eff568f8ec0b8de45cbb1a7fd9/examples/klog/provider.tf#L10-L18), it should be present.

Or maybe i didn't release this change yet ? 🤔

[2021-07-07 07:05] eddycharly commented on #251
`v1.20.0-alpha.7` is being released. Should be available in a couple of minutes.

[2021-07-07 08:05] wesselvdv commented on #251
I am not seeing any additional logging when running with `verbosity { value = 10 }` and `TF_LOG=DEBUG`

[2021-07-07 14:28] eddycharly commented on #251
the smaller the value, the more logs, maybe try with `verbosity { value = 1 }` ?

[2021-07-07 15:54] wesselvdv commented on #251
I tried it with `value = 1` nothing additionally. What are other steps I can take to further narrow this down? I am almost thinking I'll run a custom build of your provider locally to debug it further.

[2021-07-07 21:29] eddycharly commented on #251
That would be awesome.
the only thing I can think of is an issue with a pointer prop in kOps that is not correctly.

Something in the spirit of #256

[2021-07-08 12:34] eddycharly commented on #232
Closing, it's included in `v1.20.0-beta.1` that was just released.

[2021-07-08 12:34] #232 closed

[2021-07-08 12:35] eddycharly commented on #250
Closing, it will be released when kOps 1.22 is released.
Please reopen at this time if something is wrong.

[2021-07-08 12:35] #250 closed

[2021-07-08 12:38] eddycharly commented on #261
I feel like it's the way terraform works unfortunately :(
Can we close the issue or is there something i can do for this ?

[2021-07-08 12:49] rmgpinto commented on #261
Go ahead and close, thanks.

On Thu, Jul 8, 2021 at 1:38 PM eddycharly ***@***.***> wrote:

[2021-07-08 12:59] eddycharly commented on #271
First alpha is being cut 🎉

[2021-07-08 12:59] #271 closed

[2021-07-08 13:00] #262 closed

[2021-07-08 13:02] eddycharly commented on #261
I'll look into it but chances that something exists are pretty low, i've never seen a provider sending messages to the end user.

[2021-07-08 13:02] #261 closed

[2021-07-10 21:06] eddycharly commented on #3
I started adding unit tests in #280

[2021-07-10 21:06] eddycharly opened #281 "Add integration tests"
Add integration tests.
Maybe using cloud mock.

[2021-07-11 09:23] #3 closed

[2021-07-12 20:59] rmgpinto opened #282 "Import error: kops cluster with external policies"
I'm trying to import an existing cluster with `external_policies` defined, but I get:

[code]

I have something similar to this:
[code]

[2021-07-12 21:21] eddycharly commented on #282
What version are you using ?

I will test it tomorrow, expansion and flattening code looks correct but i fear that terraform only supports maps of primitive types https://github.com/hashicorp/terraform-plugin-sdk/blob/5f0e47111e779cb308990590c18d0ed547f0dd37/helper/schema/schema.go#L143-L151

If it's really the case i will find a workaround.

[2021-07-12 21:22] rmgpinto commented on #282
Thanks for the quick reply. Latest version: `terraform-provider-kops_v1.20.0-beta.2`

[2021-07-12 21:39] eddycharly commented on #282
It looks like there is an open issue from 2016 https://github.com/hashicorp/terraform-plugin-sdk/issues/62

I will look into it tomorrow… maybe changing the map by a list with a key attribute 🤔

Fortunately the number of affected properties is pretty low.

[2021-07-12 21:43] eddycharly commented on #282
[code]

[2021-07-13 13:32] wesselvdv commented on #251
Yes, it's something in the spirit of that. I managed to trace the error all the way to gophercloud. The actual error causing this is:

[code]

In short, I thought it was just a missing router so I created that, but that hasn't solved it yet. I am currently running a live debug on the terraform provider which allows me to go through the execution line by line.

[2021-07-13 18:40] wesselvdv commented on #251
Alright. I've managed to get it to work. I was a combination of things. I hadn't created a router which was required, and I once I did I forgot to actually make the required interfaces for each of the subnets created. Lastly, I had forgotten the zone assignment in the various instance groups.

[2021-07-13 18:40] #251 closed

[2021-07-13 18:41] wesselvdv opened #283 "Add possibility to specify timeout on which to wait for cluster to be validated"
Add possibility to specify timeout on which to wait for cluster to be validated, just like you can do with kOps?

[2021-07-14 07:11] wesselvdv commented on #283
apologies. case of RTFM.

[2021-07-14 07:11] #283 closed

[2021-07-14 12:57] rmgpinto commented on #282
Hi @eddycharly, any news on this? Thanks

[2021-07-14 17:53] eddycharly commented on #282
Hey @rmgpinto I confirmed the issue and added an option in the provider to setup a cloud api mock so that i can write integration tests for such cases.

Now i'm going to start fixing it 🤞

[2021-07-14 18:05] eddycharly commented on #281
Started working on this in #286

[2021-07-14 19:11] eddycharly commented on #282
It looks like https://github.com/eddycharly/terraform-provider-kops/pull/287 is fixing it.

It doesn't complain when parsing tf code containing:
[code]

[2021-07-14 22:59] eddycharly opened #288 "Add feature flags support"
Add feature flags support.

[2021-07-15 08:56] rmgpinto commented on #282
Great, I'll test once it's released.

[2021-07-15 08:58] eddycharly commented on #282
Would it be ok to test it with a 1.21 alpha release ?

[2021-07-15 09:07] rmgpinto commented on #282
Yes, no problem.

On Thu, 15 Jul 2021 at 09:58 eddycharly ***@***.***> wrote:

[2021-07-15 09:20] eddycharly commented on #282
Perfect, `v1.21.0-alpha.3` is being built, it should be available in a couple of minutes.

[2021-07-16 07:17] wesselvdv opened #291 "Unable to delete kops cluster with Openstack"
I am unable to successfully delete a kops cluster with Openstack, due to the fact it's trying to delete the attached network (that it's not managing):

[code]

I would almost think that it might be time to pull the creation of the network into scope, since it is what kOps is trying to do anyway.

[2021-07-16 08:07] eddycharly commented on #291
It could be a bug in kOps itself.
But I’m not sure if kOps knows about if it owns the network or not. It could determine what needs to be deleted based on tags.

[2021-07-16 08:19] wesselvdv commented on #291
That's an interesting comment yes. I am adding specific tags, maybe that could be what's triggering the deletion attempt.

[2021-07-16 08:19] wesselvdv commented on #291
Yet, I am not adding any tags on associated networks or routing interfaces.

[2021-07-16 11:19] eddycharly commented on #291
From the kOps docs [here](https://kops.sigs.k8s.io/getting_started/openstack/#using-existing-openstack-network) :

[2021-07-16 11:21] eddycharly commented on #291
But yeah, i can start looking at network creation support, the only issue is that i'm not going to have a lot of free time to work on this in coming weeks.

[2021-07-16 22:17] eddycharly commented on #288
Implemented in #292

[2021-07-16 22:41] #288 closed

[2021-07-18 19:16] rmgpinto commented on #282
LGTM, thanks

[2021-07-18 19:16] #282 closed

[2021-08-23 08:35] peter-svensson opened #330 "Golang zero values are not set in kops cluster config"
The creation of cluster (and perhaps other ) configs are not handling golang zero values.
The zero value for a `bool` is `false` and the parameters set in the terraform files with `false` are not propagated to the kops configuration.

For example:
[code]
Renders correctly to:
[code]

However:
[code]
Renders to:
[code]

This happens for all settings that I've tested, which more or less breaks every

[2021-08-23 09:39] peter-svensson commented on #330
A possible fix might be to remove the checks for zero values in the `DataSource_XXX.generated.go` files:

[code]

[2021-08-23 09:43] eddycharly commented on #330
Hello, thanks for reporting the issue.
This is a general problem in terraform that does not distinguish zero values and values not set in config.

One way to disable the behaviour is to mark the field mandatory.

I will look at it today or tomorrow.

[2021-08-30 18:49] barcherf5 opened #337 "kops upgrade is required"
When I attempt to run terraform apply, it returns an error that is somehow related to kops_cluster_updater:

│ Error: kops upgrade is required
│
│   with module.kops.kops_cluster_updater.updater,
│   on .terraform/modules/kops/infrastructure/cluster/kops/updater.tf line 1, in resource "kops_cluster_updater" "updater":
│    1: resource "kops_cluster_updater" "updater" {

Contents of that resource/f

[2021-08-30 18:51] barcherf5 commented on #337
I don't know why it refuses to format the code properly. Sorry!

[2021-08-30 18:55] barcherf5 commented on #337
Also, for the record, it doesn't create any EC2 instances when I `terraform apply`
Not sure if that's related.

[2021-09-02 18:59] eddycharly commented on #337
It looks like the provider refuses to apply/rollout the cluster.
Is it a brand new cluster you created from scratch ?
What version are you using ?

[2021-09-02 19:01] barcherf5 commented on #337
Yes, using TF+kOps to create the cluster from scratch. I'm using the latest version.

[2021-09-02 22:07] eddycharly commented on #337
Do you have a `kops-version.txt` file in your bucket ?

[2021-09-03 14:01] barcherf5 commented on #337
No, that file does not exist in the bucket. :(

From: eddycharly ***@***.***>
Sent: Thursday, September 2, 2021 5:08 PM
To: eddycharly/terraform-provider-kops ***@***.***>
Cc: Bert Archer ***@***.***>; Author ***@***.***>
Subject: Re: [eddycharly/terraform-provider-kops] kops upgrade is required (#337)

Do you have a kops-version.txt file in your bucket ?

—
You are receiving this because you auth

[2021-09-06 07:09] peter-svensson commented on #330
Any progress on this? Anyway I can help?

[2021-09-06 22:28] eddycharly commented on #330
What attribute was causing the issue in the autoscaler addon please ?

[2021-09-07 06:38] argoyle commented on #330
If I remember correctly it was `SkipNodesWithLocalStorage` that we tried to set to false. Right @peter-svensson ?

[2021-09-07 06:50] argoyle commented on #330
But in general it's any value where the default-value is different than the zero-value.

[2021-09-07 07:13] eddycharly commented on #330
I see two options here:
- make the fields required so that we don't have to try to make sense out of zero values
- add support for default values in tf schemas and somewhat duplicate the existing logic in kOps

I feel more comfortable with the first approach, it shifts some work on the end user side but it has the advantage of being explicit.

[2021-09-12 20:12] eddycharly commented on #337
It looks strange, this error message usually means you're trying to update a cluster with an old kOps version.
Not sure how i can help on this.

[2021-09-12 20:14] eddycharly commented on #330
@argoyle @peter-svensson sorry for taking so long, i opened #346 to fix the case with bool fields when defaut is `true`.
i'll cut a new alpha tonight, let me know if it fixes your issue and/or if there are other cases to cover 🤞

[2021-09-12 20:26] eddycharly commented on #330
`v1.21.0-alpha.5` should be available in a couple of minutes.

[2021-09-13 06:55] peter-svensson commented on #330
Tested the autoscaler and it seems to work just fine at least 👍

[2021-09-14 04:52] goruha opened #348 "Cluster resource with dynamic blocks validation failed"
## Example

[code]

## Expected

Pass validation

## Exists
* Validation error

[code]

[2021-09-14 04:52] goruha commented on #348
The same issue was in AWS provider https://github.com/hashicorp/terraform/issues/22195

[2021-09-14 07:12] eddycharly commented on #348
Not sure about the root cause here but i do something similar and it works fine:
[code]

[2021-09-14 07:12] eddycharly commented on #348
Not sure about the root cause here but i do something similar and it works fine:
[code]

[2021-09-14 07:13] eddycharly commented on #348
Are you referencing an instance group from your cluster definition ? I don't think it is possible, the cluster should exist before the instance group resources.

[2021-09-14 09:42] rmgpinto opened #349 "Provider for arm64 architecture"
To use this provider with the Apple M1 laptop, it needs to be compiled and published with the arm64 arch.
Thanks

[2021-09-14 10:21] eddycharly commented on #349
Maybe it can be added here https://github.com/eddycharly/terraform-provider-kops/blob/c8e951205888bf7b9ec216e692bdf44c86a40a73/.goreleaser.yaml#L18-L19

[2021-09-14 10:22] rmgpinto commented on #349
is it `arm64` then?

[2021-09-14 10:29] eddycharly commented on #349
I guess yes, but never tried this out. Wanna open a PR ?

[2021-09-14 10:46] eddycharly commented on #349
Let's see if it works https://github.com/eddycharly/terraform-provider-kops/actions/runs/1233294974 🤞

[2021-09-14 11:30] eddycharly commented on #349
@rmgpinto the build succeeded, can you check it out please ?

[2021-09-15 06:57] wesselvdv opened #352 "panic: runtime error: index out of range when using rolling_update"
When using the following setttings with kOps openstack it fails:

[code]

[code]

[2021-09-15 08:07] rmgpinto commented on #349
Seems to be working now, thank you.

[2021-09-15 09:52] eddycharly commented on #349
Nice, i'll close the issue then. Thanks for your pr !

[2021-09-15 09:52] #349 closed

[2021-09-15 14:10] goruha commented on #348
@eddycharly sorry. My fault.
I had an error in my code. There is no bug described here.

[2021-09-15 16:45] eddycharly commented on #348
Thanks for your feedback !

[2021-09-15 16:45] #348 closed

[2021-09-15 16:45] eddycharly commented on #330
@peter-svensson @argoyle can we close the issue ?

[2021-09-15 16:52] argoyle commented on #330
I would say so. We'll open another one if we find anything else. Thanks for your work! ❤️

[2021-09-15 16:54] eddycharly commented on #330
Thanks. Yes, don't hesitate to open issues, it helps improving the provider 🙏

[2021-09-15 16:54] #330 closed

[2021-09-15 19:42] eddycharly commented on #352
Hello @wesselvdv, thanks for reporting the issue. I'll look into it tomorrow.

[2021-09-18 21:22] eddycharly commented on #352
@wesselvdv I can't seem to reproduce the issue with AWS, what provider version are you using ?
Given the stack trace it happens in the kOps code, it could be worth opening an issue against the kOps repository.

[2021-09-21 15:10] peter-svensson opened #361 "feat: support custom CA"
Any plans on supporting [this](https://kops.sigs.k8s.io/custom_ca/)

Passing a custom CA would make it easier to spin up clusters using the same CA (and thus not needing to have a new kuber config except for the api url).

[2021-09-21 16:36] eddycharly commented on #361
I’ll look at it, I already implemented some secrets so it should be pretty easy.

[2021-09-21 17:54] eddycharly commented on #361
It should look something like this https://github.com/eddycharly/terraform-provider-kops/pull/362

[2021-09-24 05:54] peter-svensson commented on #361
Tested the branch and it seems to work just fine!

[2021-09-24 06:57] eddycharly commented on #361
Thanks for trying it out.

[2021-10-04 09:42] argoyle opened #370 "Nil pointer dereference in validateAdditionalPolicy"
Just tried to retrofit my kOps cluster into Terraform and got this during apply:
[code]

[2021-10-04 09:49] argoyle commented on #370
Baah, ignore me. The problem was on my side. I actually passed a null-value into the policies. 🤦🏻‍♂️

[2021-10-04 09:49] #370 closed

[2021-10-04 12:26] eddycharly commented on #370
Ok, thanks for letting me know :)

[2021-10-08 11:56] #361 closed

[2021-10-19 15:33] fcrespofastly opened #379 "Make StateStore an attribute of cluster/ig resources"
Hey there!

Thanks for building this, it's awesome!

We have a use case where we want to create the S3 bucket with terraform, since the kops provider uses the provider object to se the bucket, there's no way to interpolate the created bucket with terraform and therefore we have to hardcode it.

Do you think it's feasible to move the state store configuration to the resource/datasource level?

Than

[2021-10-20 06:39] fcrespofastly commented on #379
Maybe an alternative approach could be letting the resource/datasource object override the provider config?

[2021-10-21 18:04] theFong opened #382 "Webhook auth mode support"
Do you know if its possible to override [these values](https://pkg.go.dev/k8s.io/kops/pkg/apis/kops?utm_source=godoc#KubeAPIServerConfig) with the provider?

I am trying to enable[ Webhook auth mode](https://kubernetes.io/docs/reference/access-authn-authz/webhook/).

[2021-10-21 18:48] eddycharly commented on #382
Yes, you can configure this using `kube_api_server_config`, see https://registry.terraform.io/providers/eddycharly/kops/latest/docs/resources/cluster#kube_api_server_config
Is this what you're after ?

[2021-10-23 13:04] dkulchinsky opened #385 "kubelet cpucfs_quota has no effect when set to false"
Hey there 👋🏼

Thanks for building this 😄

Trying to disable CPU CFS Quota on a couple of clusters (using latest stable - v1.21.0) by adding this to the `cluster` resource:
[code]

but the plan ends up with no changes.

I tried setting it on the instance_group resource level and got a diff, however when applied nothing happened and I didn't see any change in the `cluster.spec`

any advise?

[2021-10-25 20:51] dkulchinsky opened #386 "kube-proxy & kube-controller-manager cluster-cidr is incorrectly populated"
Howdy 👋🏼 me again 😄

We've hit another strange issue, for some reason the `ClusterCIDR` value for `kubeProxy` and `kubeControllerManager` is being set to `spec.serviceClusterIPRange` instead of `spec.poDCIDR`

for example, if the cluster sperc has:
[code]

`kubeProxy` & `kubeControllerManager` ends with:
[code]

[code]

which is incorrect, since the `clusterCIDR` should be the `podCIDR` and not `s

[2021-10-26 07:50] #386 closed, assigned to nobody

[2021-11-04 09:12] eddycharly commented on #379
Closing for now, i don't think it will be addressed soon, sorry.

[2021-11-04 09:12] #379 closed

[2021-11-04 09:13] eddycharly commented on #382
Closing, looks like it's already implemented, please reopen if needed.

[2021-11-04 09:13] #382 closed

[2021-11-04 09:30] eddycharly commented on #385
Closing, fixed in `v1.21.2-alpha.2`.

[2021-11-04 09:30] #385 closed

[2021-11-15 10:39] ddelange opened #405 "kops_instance_group does not accept the documented mixed_instances_policy arguments"
### Goal

Start a simple kops cluster with 100% spot workers

### Setup

Following [`MixedInstancesPolicySpec`](https://github.com/eddycharly/terraform-provider-kops/blob/v1.21.2-alpha.2/pkg/schemas/kops/Resource_MixedInstancesPolicySpec.generated.go#L13-L26), I drafted the following instance groups for `Master` and `Node` in a specific availability zone:

[code]

### Result

When running `terrafo

[2021-11-15 10:41] ddelange commented on #405
Commenting out the two erroneous arguments leads to a successful plan:
[code]

[2021-11-15 10:41] ddelange commented on #405
Commenting out the two erroneous arguments leads to a successful plan:
[code]

[2021-11-15 12:58] eddycharly commented on #405
Hey, thanks for trying it out.
The issue here is that `null` and `0` do not mean the same thing and terraform has some limitations on this.
It should be set like this:
[code]

[2021-11-15 13:01] eddycharly commented on #405
There have been a couple of issues related to this #330 #256 for example.

[2021-11-15 15:21] ddelange commented on #405
Thanks for the quick reply, already wrote something about nullable arguments in the docs, should have rung a bell...

Trying out first thing tomorrow!

[2021-11-15 15:21] #405 closed

[2021-11-23 08:38] ddelange opened #413 "First time running kops_cluster_updater fails"
Hi again :)

### Goal

Trying to spin up a simple 100% spot autoscaling kops cluster from scratch.

### Problem

`kops_cluster_updater` never creates succesfully, not in the initial run, and not in subsequent runs when everything except the updater has been successfully created.

I also tried a `terraform destroy -target kops_cluster.cluster`, manually wiping the S3 bucket, and re-running, to no a

[2021-11-29 16:52] ddelange commented on #413
Acting upon `Field is required: Subnets` from the error above, I added:
[code]
which results in a warning and a new error:
[code]

As both the kops-created `classic` ELB's status, and the new kops `master` EC2 instance's health checks look good, I'm suspecting the security group created by kops to be the culprit. Probably because I'm using the availability zone's default VPC and its subnet. Maybe

[2021-11-30 11:42] rennokki commented on #413
I have the exact same issue. It timeouts on `terraform apply` and for what I've seen, I needed to change the topology to `public` and use only `public` subnets, but with no success.

[2021-11-30 15:51] ddelange commented on #413
Update on my last paragraph:

The EC2 instances and the ELB are now successfully created, but the ELB shows OutOfService error, meaning the ping on 443 is failing. Definitely a networking issue. The error now slightly changed with empty string instead of api URL:
[code]

Will try adding a NAT gateway which I think is required for private subnets. Ref https://docs.aws.amazon.com/vpc/latest/userguid

[2021-11-30 17:09] rennokki commented on #413
Regarding OutOfService, I think it's because they're not public. Make sure to make them sit in a public subnet with `topology` set to `public`.

I have tried to use kopsctl for a raw cluster, without Terraform, and it seems like you need to add the Route53 nameservers to your domain provider. The kops Terraform Provider creates the Route53 zone for you but inspecting the zone in the Route53 dashbo

[2021-11-30 21:57] eddycharly commented on #413
Hello, sorry for the late reply here.

I think your issue is because you're trying to create a cluster with a private topology in the default vpc.

I don't remember how the default VPC is setup but i'm not sure at all it would work.

To create a cluster with a private topology you will need:
- private subnets with nat gateway to connect to internet
- public subnets with direct access to internet t

[2021-11-30 22:16] eddycharly commented on #413
One more thing:
[code]

You should change `kops_cluster.cluster.name` by `kops_cluster.cluster.id` to make sure the creation order is correct.

[2021-12-01 06:12] argoyle commented on #413
If you need inspiration we have a couple of modules at https://registry.terraform.io/modules/opzkit/k8s/aws/latest and https://registry.terraform.io/modules/opzkit/k8s-network/aws/latest which we have successfully used ourselves and for a couple of clients.

[2021-12-06 22:19] eddycharly commented on #413
@ddelange can we close the issue ? You can always reopen it or create another one if necessary

[2021-12-07 09:30] ddelange commented on #413
Sure, closing! Thanks for the elaborate responses 👍

[2021-12-07 09:30] #413 closed

[2021-12-15 10:08] argoyle opened #437 "1.21.3 always wants to remove secrets for ca cert"
Since upgrading to 1.21.3, terraform apply always wants to remove secrets for ca cert:
[code]

It doesn't cause any harm to the cluster but there is always an update to apply.

[2021-12-15 12:16] eddycharly commented on #437
Thanks for reporting. I’ll look into it asap.

[2021-12-15 16:40] ddelange opened #438 "Create local YAML from kops_kube_config data resource"
### Problem

The `kops_kube_config` data resource [example](https://registry.terraform.io/providers/eddycharly/kops/1.21.3/docs/data-sources/kube_config) will start causing errors after the first apply, ref https://github.com/hashicorp/terraform/issues/27934

Concretely, using dependent providers:
[code]

Will cause errors after the first successful apply, so upon the first subsequent apply:

`kub

[2021-12-15 18:19] eddycharly commented on #438
Hello, what version are you using ?

[2021-12-15 19:46] argoyle commented on #437
Just for extra info, I have not passed any specific CA cert into my cluster so those are the generated ones.

[2021-12-15 20:20] ddelange commented on #438
Hi! That was quick :) Not on the latest now that you say so. How is it relevant? Just curious

[code]

[2021-12-15 20:37] eddycharly commented on #437
Did you provide a docker config secret ?

[2021-12-15 21:11] argoyle commented on #437
Yes I did.

[2021-12-15 21:43] eddycharly commented on #437
I think the fix is here https://github.com/eddycharly/terraform-provider-kops/pull/439 🤞

[2021-12-15 22:17] eddycharly commented on #438
You're right, i misunderstood your issue, sorry.

Not sure how to implement a `yaml_body` attribute, i'll dig it asap but i find it crazy that terraform partially supports this, it looks very error prone.

[2021-12-15 23:32] eddycharly commented on #438
I wonder how terraform can build a plan when the cluster does not exist yet ?

[2021-12-16 06:31] ddelange commented on #438
Yes, was also big surprise to me that there is no `depends_on` for providers (ref https://github.com/hashicorp/terraform/issues/2430)

Regarding the plan when there is no cluster yet: it's probably the same when there is already a cluster, namely initiate the providers with nulls. For planning that is apparently sufficient, but how terraform manages to fill it in just-in-time (re-initiate the prov

[2021-12-16 08:05] eddycharly commented on #437
@argoyle can we close the issue now #439 was merged and released ?

[2021-12-16 08:47] argoyle commented on #437
Yes, works fine! Closing.

[2021-12-16 08:47] #437 closed

[2021-12-21 08:59] ddelange commented on #438
Something like this works on my machine to write to a local `./test.yaml`:
[code]

ref https://kops.sigs.k8s.io/cli/kops_export_kubeconfig/

[2022-01-05 17:52] peter-svensson opened #446 "Possibility to create cluster without Admin SSH Key"
Since it is possible to create a kops [cluster](https://kops.sigs.k8s.io/cli/kops_create_cluster/) without specifying an admin ssh key it would be nice to be able to do that using the provider as well.

Connecting to the instances is still possible with for example [ec2-instance-connect](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-connect-methods.html#connect-options)

[2022-01-05 18:02] eddycharly commented on #446
Thanks for raising the issue, i'll look at it tonight or tomorrow.

[2022-01-05 20:43] eddycharly commented on #446
#447 should fix the issue 🤞

Beware it's only available since kOps 1.22, but I didn't release the provider based on kOps 1.22 yet though.
There is an alpha version for it but couldn't find the time to try it out.

[2022-01-05 21:30] eddycharly commented on #446
I released `v1.22.0-alpha.3` if you want to try the changes in #447

[2022-01-08 12:02] eddycharly commented on #446
@peter-svensson can we close the issue as it should have been fixed in #447 ?
We can reopen it or create another one if there is a bug in the implementation.

[2022-01-08 12:20] peter-svensson commented on #446
Yes - close it 😊

[2022-01-08 12:20] #446 closed

[2022-01-31 09:25] shmul opened #471 "Network requisites for installation"
Hi,

Thanks for the effort you put into this project. I tried two examples, the basic and the bastion and both failed to complete successfully, presumably because the network and security (for bastion) pre-requisites weren't fully done. I noticed that the load balancer wasn't able to reach the instances (they are all marked as inactive).
Can you please provide the configuration details for the sub

[2022-03-03 10:25] wandera-petr-cerny opened #495 "Setting a value for Duration attributes in cluster resource generates diff in every plan"
Hi! I would appreciate a guidance on working with Duration attributes of `kops_cluster` resource.
As an example, using the following code
[code]
generates following plan
[code]
which is applied with every run successfully, but it is quite annoying (and it triggers cluster rolling update).

Passing `"&Duration{Duration:5ms,}"` as a value to `cpu_cfs_quota_period` attribute does not show any changes

[2022-03-05 21:05] eddycharly commented on #495
Thanks for reporting, it looks like a bug !
I will look at it tomorrow.

[2022-03-05 21:10] eddycharly commented on #471
Network has to be created beforehand. It all depends on how you created your network (subnets, vpn, etc…), there’s not a single solution.

kOps docs should help, typically the docs for running a cluster in an existing network.

Internet access is required for kOps to create a cluster. It can be used in an air gapped environment but it’s a complex setup, not sure if it’s what you’re looking for.

W

[2022-03-08 12:41] aberenshtein opened #500 "kops_kube_config data source documentation is outdated"
In the Example usage
data "kops_kube_config" "kube_config" {
  cluster_name = "cluster.example.com"
}

# then you can configure another provider based on the kube_config data source

provider "kubectl" {
  host                   = data.kops_kube_config.kube_config.server
  username               = data.kops_kube_config.kube_config.kube_user
  password               = data.kops_kube_config.kube_con

[2022-03-08 14:43] wandera-petr-cerny commented on #495
Hi @eddycharly, thanks for your response! Did you have any luck looking into this? Can I provide any more details to help you with the investigation by any chance?

[2022-03-27 23:02] theFong opened #518 "Can I create new instance groups using the kops_instance_group resource?"
When I create a new kops instance group resource I get an error `InstanceGroup [instance group name] is missing from the cloud provider` when validating the cluster. How do I properly add a new instance group?

[2022-03-27 23:25] theFong commented on #518
Was able to resolve this by running a `kops update cluster --yes`

[2022-03-28 08:37] eddycharly commented on #500
Thanks for reporting. Fixing it now.

[2022-03-28 08:53] #500 closed

[2022-03-28 12:56] eddycharly commented on #495
Hi @wandera-petr-cerny I'm going to release 1.22 today :crossed_fingers:
There was a bunch of changes in regards to the code generation in this release. Could you give it a try ?
For the record, using the 1.22 version doesn't mean you need to upgrade k8s to 1.22.

[2022-03-28 12:57] eddycharly commented on #518
Hello, could it be that the dependency graph is not correct ?
Can you provide more details on your terraform config ?

[2022-03-31 08:32] ddelange opened #529 "Propagate kOps logs"
Hi 👋

even when I run `TF_LOG=DEBUG terraform apply`, there is basically no output on what's going on under the hood:

[code]

Could the logs coming from kOps/tf be propagated to the main thread somehow?

[2022-03-31 08:37] eddycharly commented on #529
This is a limitation of terraform unfortunately :(
You can log into a file though. See https://www.jorgebernhardt.com/terraform-troubleshooting-logging/ for example.

[2022-03-31 09:03] #529 closed

[2022-03-31 11:29] ddelange opened #530 "[bug][v1.23]: cluster_ca_cert and cluster_ca_key always trigger cluster updater"
Hi again!

<img width="265" alt="image" src="https://user-images.githubusercontent.com/14880945/161044776-d547720b-8d04-4298-962b-1fffd2734f0e.png">

I just tried out v1.23, and spotted this one triggering the cluster updater. I haven't provided the `secrets` block in my cluster config.

[2022-03-31 21:17] eddycharly commented on #530
Thanks for reporting.
does it happen every time or only when you upgrade from a previous version of the provider ?

[2022-04-01 06:06] ddelange commented on #530
I would say every time, after a couple applies like that I just checked this morning and again the same scenario on a `terraform apply`: revision = 13 -> 14 on `kops_cluster.cluster`

[2022-04-01 06:13] argoyle commented on #530
Just for helping out narrowing in what might be the problem, I don't see this on my own prod-cluster where I have a docker config defined and not on a fresh test-cluster either where I have no docker config.

[2022-04-01 06:57] eddycharly commented on #530
@ddelange did you see the same problem with 1.22 or only 1.23 ?

[2022-04-01 07:26] eddycharly commented on #530
I spent some time trying to reproduce the issue, but I didn't succeed.
Can you share your tf config ?

[2022-04-01 07:56] ddelange commented on #530
Hmm, interesting! Thanks for checking guys. This was not the case before upgrading to 1.23. The only diff to `cluster.tf` apart from the version bump, was adding the `containerd.config_override` block. Adding a (basicauth) private docker registry to the cluster was the whole reason for updrading to 1.23: as 1.22 has max `containerd` version 1.4, I needed 1.5+ such that we can make use of container

[2022-04-01 08:03] eddycharly commented on #530
This looks similar to what I tested.
You used the provider `v1.23.0-alpha.1` with k8s 1.23 right ?

[2022-04-01 08:07] ddelange commented on #530
Correct, `1.23.0-alpha.1` and

[code]

I'm now trying to isolate the bug to the `config_override` block (applying now without it, seeing if afterwards another apply will trigger the updater again)

[2022-04-01 08:17] eddycharly commented on #530
I don't think your issue is related to the config override block, but thanks for trying it out.

[2022-04-01 08:17] ddelange commented on #530
Looks like unrelated indeed. Behaviour stays the same 🤔

[2022-04-01 08:23] eddycharly commented on #530
Could be related to permissions in the s3 bucket.
Can you check the files are correctly stored in the bucket (`pki/private/kubernetes-ca/keyset.yaml`) ?

[2022-04-01 08:31] ddelange commented on #530
The file exists, looks like a valid manifest. Created (r/w perms) by my AWS account yesterday when I created the 1.23 cluster. Same permissions as the rest of the files, e.g. under `/instancegroups`

[2022-04-01 08:38] eddycharly commented on #530
Hmmm, I'm dry on ideas :-(
There was an invalid reference to the `k/k` package in `v1.23.0-alpha.1` but I don't think it would cause such an issue.
I can try to cut `v1.23.0-alpha.2` though.

[2022-04-01 08:43] ddelange commented on #530
Many thanks for taking the time!

I would just close with that for now and if it disappears over time (or I miraculously find a fix) I will report back here.

Have a nice weekend 💥

[2022-04-02 16:58] ddelange commented on #530
hotfix seems to be holding steady :)
[code]

[2022-04-02 19:20] eddycharly commented on #530
It’s a hack, you shouldn’t need this.
If possible I would empty the bucket and try from scratch completely.

[2022-04-02 20:36] eddycharly commented on #530
I just released `v1.23.0-alpha.2` but I doubt it will fix your issue.

[2022-04-02 20:39] ddelange commented on #530
Thanks for the ping!

[2022-04-03 20:09] ddelange commented on #530
Seems like it did not solve the issue 🤔

[2022-04-25 13:31] eddycharly commented on #495
I'll close this issue for now, please reopen if necessary.

[2022-04-25 13:31] #495 closed

[2022-04-25 13:34] clayrisser opened #557 "cannot find CA certificate when using data.kops_kube_config"
I get the following error when using `data.kops_kube_config`

[code]

Here is the config I'm using.

[code]

[2022-04-25 13:37] eddycharly commented on #557
Thanks for reporting, could it be related to https://github.com/eddycharly/terraform-provider-kops/issues/438 ?
IIRC this is not a lazy operation, therefore the cluster has to be up and running to fetch the kubeconfig and initialize the helm provider.

[2022-04-25 13:38] eddycharly commented on #471
I'll close this issue for now, please reopen if necessary.

[2022-04-25 13:38] #471 closed

[2022-04-25 14:27] clayrisser commented on #557
Is there not a way to watch for the cluster to be alive and healthy?

[2022-04-25 14:28] clayrisser commented on #557
I would use the following script to ensure my cluster and nodes were healthy when I used eks.

[code]

[2022-04-25 14:30] eddycharly commented on #557
I don't think so.
The `helm` provider is initialized before the cluster is created but depends on a `data` that itself depends on the cluster...
I don't understand why such things are allowed in terraform TBH.

[2022-04-25 14:31] clayrisser commented on #557
Would there be a way to create the certs and credentials first, use them for the kubeconfig, and then inject them into kops?

[2022-04-25 14:36] clayrisser commented on #557
Also, I'm going to try the solution you referenced earlier. Hopefully that does the trick for me. Still a little ugly and not the terraform way.

https://github.com/eddycharly/terraform-provider-kops/issues/438#issuecomment-998591993

[2022-04-25 14:43] eddycharly commented on #557
I would recommend separating states. On state for the cluster, and another one for helm charts ?

[2022-04-25 15:05] clayrisser commented on #557
Fair enough. So I guess I have enough to go off of to get around this issue.

However, now when I try and deploy the cluster I get the following error. Any direction on what's causing this?

[code]

[2022-04-25 15:44] eddycharly commented on #557
No idea, can you share your tf config ?

[2022-05-05 09:50] clayrisser opened #569 "kops_cluster_updater thinks there's a revision when there are no changes"
kops_cluster_updater thinks there's a revision when there are no changes. This creates a big problem when I make changes to my terraform config that do not affect kops, because the cluster still thinks it needs to update when it does not need to update.

I believe this is caused because the kops_cluster and the kops_instance_group revision increments every time, even when there are no changes.

Th

[2022-05-05 10:16] clayrisser commented on #569
I think it's related to issue #530 because I'm using secrets.

[2022-05-13 16:45] mattjudge opened #578 "Booting from a volume in OpenStack"
It's not clear how to provide the metadata annotations to instance groups required to [enable booting from a volume in OpenStack](https://kops.sigs.k8s.io/tutorial/working-with-instancegroups/#booting-from-a-volume-in-openstack).

It's necessary to provide the following annotations:

- `openstack.kops.io/osVolumeBoot`
- `openstack.kops.io/osVolumeSize`

A YAML example:
[code]

I can't see a way to

[2022-05-19 12:40] aberenshtein opened #584 "lifecycle-overrides are not supported in kops_cluster_updater"
I want to use an existing IAM role
https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md#use-existing-aws-instance-profiles

Can you add support to this flag
`      --lifecycle-overrides strings   comma separated list of phase overrides, example: SecurityGroups=Ignore,InternetGateway=ExistsAndWarnIfChanges
`

[2022-05-19 15:32] eddycharly commented on #584
I'll look into it, not sure when i will have the time though.

[2022-05-19 18:27] eddycharly commented on #584
You should be able to achieve the same result using `KOPS_LIFECYCLE_OVERRIDES` env var https://github.com/kubernetes/kops/blob/b79157ff438733ecbb9bb9b92a9d0e1d1eba4434/cmd/kops/update_cluster.go#L135

Anyway, I think it should be easy to add.

[2022-05-19 19:38] #584 closed

[2022-05-19 20:12] eddycharly commented on #569
Hi, this sounds very strange, the revision should increase only when something change in the cluster or instance group.
I don't understand why your nodes are destroyed/recreated, this should not happen.
Can you share your updater config ?

[2022-05-19 20:14] eddycharly commented on #578
I started adding support for labels and annotations.
I would be interested to know if you use it with openstack and if it works.

[2022-05-20 07:03] #578 closed

[2022-05-20 10:18] mattjudge commented on #578
Thanks for such a speedy response! I will let you know when I get chance to test it

[2022-05-20 18:12] eddycharly commented on #578
I’ll cut a new release next week.

[2022-05-23 09:17] aberenshtein commented on #584
Thanks

[2022-05-23 12:45] eddycharly commented on #584
`v1.23.3` should be available with lifecycle overrides support.

[2022-05-23 12:45] eddycharly commented on #578
`v1.23.3` should be available with labels and annotations support.

[2022-05-25 06:34] argoyle opened #594 "Provider want to remove instance group labels"
Running terraform apply after upgrading to v1.23.3 wants to update all instance groups removing the `kops.k8s.io/cluster` label every time.

[code]

[2022-05-25 06:39] eddycharly commented on #594
Thanks for reporting, going to fix that quickly.

[2022-05-25 08:35] #594 closed

[2022-05-25 09:07] eddycharly commented on #594
@argoyle I'm releasing `v1.23.4-alpha.1` with this fix, can you give it a try ?
If it's good I will release a stable version.

[2022-05-25 09:23] argoyle commented on #594
Yes, will test as soon as the release is done

[2022-05-25 10:26] argoyle commented on #594
<img width="479" alt="image" src="https://user-images.githubusercontent.com/328334/170241547-7dad9f7a-0aaf-4219-b255-f9cd4891b619.png">
💯

[2022-05-25 10:27] eddycharly commented on #594
Great, I'll create `v1.23.4`.
Thanks for confirming !

[2022-05-25 21:38] dkulchinsky opened #597 "Setting tag_subnets to false doesn't seem to have an effect"
Hey @eddycharly 👋🏼

Testing the latest provider version (1.23.4) in our sandbox, previously was 1.21.4

I changed `disable_subnet_tags = true` to `tag_subnets = false` as per the change in 1.23 and the diff looked correct, however after updating the cluster I noticed the tags were added to the subnets and when I checked the cluster spec it was missing `tagSubnets: false` attribute

[code]

any ide

[2022-05-25 22:01] eddycharly commented on #597
Thanks for reporting, I will look at it asap.
Remember that the provider does not manage subnets but expects the network to be created externally.

IIRC it should touch subnets at all.

[2022-05-25 22:42] dkulchinsky commented on #597
Thanks @eddycharly, indeed the subnets are precreated by our Terraform code.

I believe kops is tagging the subnets you provide to it if `tag_subnets` is set to `true` (which is the default), we tag them ourselves and that why we set `tag_subnets` to `false`, but looks like the provider doesn't set this option in the cluster spec?

[2022-05-26 00:23] dkulchinsky commented on #597
sure thing @eddycharly!

[2022-05-26 08:07] #597 closed

[2022-05-26 08:25] eddycharly commented on #597
@dkulchinsky `v1.23.5-alpha.1` is being released, let me know if you try it out.

[2022-05-26 12:59] dkulchinsky commented on #597
Thanks @eddycharly! will give it a go 👍🏼

Do I understand correctly that this now needs to be defined as:
[code]

I may need some time to get back with results as I've hit another pickle with a change that was recently introduced in kops 1.22.4, where etcd-manager will bind itself it an IPv6 address if one is present on the node and will resolve peers to their IPv6 IPs (if they have them), we inde

[2022-05-27 00:43] dkulchinsky commented on #597
Hey @eddycharly

Trying `1.23.5-alpha.1` now and hitting this issue:

[code]
│ Error: missing expected [
│
│   with module.kubernetes_kops_aws_cluster_awsuse2["sbx-awsuse2"].kops_cluster.cluster,
│   on ../modules/kubernetes-cluster/kops-aws/kops.tf line 15, in resource "kops_cluster" "cluster":
│   15: resource "kops_cluster" "cluster" {
[code]

[2022-05-27 15:07] dkulchinsky commented on #597
yes, a cluster that was deployed with provider version 1.21.4

we're trying to upgrade to latest provider version and K8s 1.22.8

[2022-05-27 16:31] eddycharly commented on #597
@dkulchinsky  `v1.23.5-alpha.2` is being released, with the fix from #603.
I would apreciate if you can try it out.

[2022-05-28 00:16] dkulchinsky commented on #597
Thanks @eddycharly! plan looks solid with `v1.23.5-alpha.2`!

[2022-05-28 08:49] eddycharly commented on #597
👍 thanks !

[2022-06-02 10:48] peter-svensson commented on #530
Me and @argoyle had this issue as well on some clusters.
Seems to work if we always define `secrets` in the config, like:

[code]

[2022-06-02 10:50] eddycharly commented on #530
Interesting, I am going to reopen and investigate the issue again.

[2022-06-02 13:24] eddycharly commented on #530
I was able to somewhat reproduce the issue:
- create a cluster with ca cert/private key
- update the cluster, removing ca cert/private key
- next applies always trigger an update

Would that look like the scenario you are hitting ?

[2022-06-02 14:10] ddelange commented on #530
fwiw, I never used the `secrets` block

[2022-06-02 15:00] eddycharly commented on #530
I have a good suspect in mind but no access to an AWS account, making it difficult to track it down.

CAs are stored in `pki/private/kubernetes-ca/keyset.yaml` (maybe in `pki/private/ca/keyset.yaml` with older kOps versions).

When one doesn't provide a CA cert/key, kOps will create one and I'm not sure if it is stored in the same place (I suppose it is but can't confirm).

From what I understand,

[2022-06-02 15:04] eddycharly commented on #530
@peter-svensson @argoyle I suspect you can use an empty `secrets` block, no need to use a dummy `docker_config` as mentioned in my comment above.

[2022-06-02 17:20] ddelange commented on #530
[code]

did indeed not trigger the updater!

[2022-06-02 17:30] ddelange commented on #530
we also have a
[code]
block for the same reason btw :)

[2022-06-13 12:21] ashish1099 opened #621 "subnet changes on every apply"
I can see these with every terraform apply, which inturns bumps the revision no and which calls for validation

[code]

I tried the tags_subnet, but no help.

[2022-06-13 19:03] eddycharly commented on #621
Hi, thanks for reporting, what version of the provider are you using ?

[2022-06-13 20:37] eddycharly commented on #530
@ddelange why not RBAC ?
[code]

[2022-06-15 07:36] ddelange commented on #530
We're spinning up Rancher v2 on the cluster via [helm chart](https://rancher.com/docs/rancher/v2.5/en/installation/install-rancher-on-k8s/chart-options/).

I flipped the authorization config this morning and recreated the cluster, but the rancher mechanics (lots of opaque helm jobs etc) don't like it and the cluster won't show up anymore in the Rancher UI. I've been skimming through all different

[2022-06-15 11:47] ashish1099 commented on #621
Hi,

I'm using this `1.23.5` version of this provider

[2022-06-15 11:59] eddycharly commented on #621
Does this help https://github.com/eddycharly/terraform-provider-kops/issues/597 ?

[2022-07-03 19:15] eddycharly commented on #621
@ashish1099 Can we close the issue ?

[2022-07-04 03:13] johncave opened #637 "Create Fails with no Error"
I'm trying to make a basic test cluster with internal DNS only and only one node for now. Terraform apply says there are no issues at all and successfully creates the VPC and network infrastructure (everything else in my terraform code), but doesn't  appear create anything to do with the kops cluster itself.

Terraform then happily applies changes to this cluster that doesn't seem to exist (eg, ch

[2022-07-05 08:29] eddycharly commented on #637
Hi, you need an `updater` (https://registry.terraform.io/providers/eddycharly/kops/latest/docs/resources/cluster_updater).

Basically, the cluster is never _applied_.

[2022-07-06 21:53] clayrisser opened #640 "How to trust Kubernetes api certificate"
I'm able to generate a cluster, but when I run `curl https://kubernetes.default` from a pod, it fails with an error saying it doesn't trust the certificate.

How can I deploy kops so all the pods trust the Kubernetes api certificate?

[2022-07-06 21:59] eddycharly commented on #640
The ca is self signed, curl will not automatically trust the ca.
Moreover, you need to authenticate and so on when calling the kube api, that’s why we have service accounts, tokens, etc…

[2022-07-06 22:00] eddycharly commented on #640
Please provide more details on what you’re trying to do. Curl not trusting the cluster ca is completely normal.

[2022-07-07 05:43] johncave commented on #637
Thanks for that. It feels to me like this should trigger an error message as it seems like an easy enough mistake to make?

I have added the updater, am now running the following code and everything seems to work, instances and autoscaling groups are created, except that terraform times out every time waiting for the cluster to create or destroy.

If I set `validation { skip = true }` I get an err

[2022-07-17 00:09] clayrisser commented on #640
@eddycharly I figured out that the reason it’s not working is because python does not trust intermediate certificates, and the ca that kops generates is an intermediate certificate. How do I prevent kops from creating intermediate certificates?

https://github.com/zalando/patroni/issues/1758

https://github.com/jupyterhub/kubespawner/issues/492

https://github.com/rook/rook/issues/3122#issuecommen

[2022-07-17 21:54] eddycharly commented on #637
The updater is handy but optional. You could invoke kOps CLI directly.

You can get the asg using a tf data source I guess, iirc it’s also possible to configure lifecycle hooks from the kOps manifest too.

i don’t think you can remove the no schedule taint on masters.

[2022-07-17 21:55] eddycharly commented on #621
Closing, please reopen if the issue needs more discussion.

[2022-07-17 21:55] #621 closed

[2022-07-17 21:58] eddycharly commented on #640
KOps creates self signed certs. I don’t remember if there’s an intermediate cert though.

If there’s an intermediate cert, this is not the one to be used and it should be embedded in the ca cert.

[2022-07-17 22:06] eddycharly commented on #640
The correct way to do it would be to use a k8s service account, that would bring all you need for talking with api server.

Not sure why it’s not used by percona.

[2022-08-23 20:40] eddycharly commented on #637
Closing, please reopen if needed.

[2022-08-23 20:40] #637 closed

[2022-08-23 20:40] eddycharly commented on #640
Closing as this does not seem related to this provider, please reopen if needed.

[2022-08-23 20:40] #640 closed

[2022-08-23 20:41] eddycharly commented on #557
Closing as this does not seem related to this provider, please reopen if needed.

[2022-08-23 20:41] #557 closed

[2022-08-23 20:42] eddycharly commented on #569
Closing, I think it has been fixed, please reopen if needed.

[2022-08-23 20:42] #569 closed

[2022-09-16 09:54] mbolek opened #718 "[bug][1.24] aws-iam-authenticator config in cluster spec"
Hi, I think this might be a bug or just my misunderstanding.
I'm trying to use `aws-iam-authenticator` inside the `kops_cluster`. The [docs](https://registry.terraform.io/providers/eddycharly/kops/latest/docs/resources/cluster#aws_authentication_spec) suggest:
![image](https://user-images.githubusercontent.com/4385195/190609137-3ba4adff-cac3-4994-ba11-b1457c69ff92.png)
which I'd expect to look som

[2022-09-17 20:52] eddycharly commented on #718
Thanks for reaching out @mbolek !
I'll look into it next week.

[2022-09-18 07:13] eddycharly commented on #718
`identity_mappings` is a list, you should be able to have multiple instances, not just only one.
Does that solve your issue ?

[2022-09-19 06:23] mbolek commented on #718
I'm afraid it doesn't. Unless I'm doing it completely wrong :) This case, `identity_mappings` as a list:
[code]
doesn't work. Should it not be a list of maps?
When trying with an empty list:
[code]
I still get an error when trying to plan:
[code]
Actually this seems to work, which is a bit confusing:
[code]
It properly updates cluster `config`:
[code]

[2022-09-19 06:46] eddycharly commented on #718
[code]

This is the way we write lists in terraform.

[2022-09-19 07:00] mbolek commented on #718
Right, think I got confused. [Docs](https://www.terraform.io/language/attr-as-blocks#defining-a-fixed-object-collection-value) suggest it as well :)
Thanks!
Would you mind commenting on those additional two questions from the first comment?

[2022-09-19 07:03] eddycharly commented on #718
Sure.
1. There's nothing I can do for logs unfortunately, this is just not supported by terraform
2. This works exactly the same as `kOps` cli does, it will detect if a rollout is needed and will rollout all instance groups if necessary.

[2022-09-19 07:07] mbolek commented on #718
Great, thanks!

[2022-09-19 07:07] #718 closed

[2022-10-04 11:41] argoyle opened #757 "Sort external policies"
Would it be possible to sort the external policies in the state to make those kinds of changes go away?

[code]

[2022-10-04 12:00] eddycharly commented on #757
I guess it changed in the config ?

[2022-10-04 12:31] eddycharly commented on #757
@argoyle does the diff happens when the input config is identical ?

[2022-10-04 12:58] argoyle commented on #757
It's not always changing and trigger an update, that's why I think it might be due to Go's handling of maps and non-deterministic order when ranging over them.

[2022-10-04 14:03] argoyle commented on #757
I haven't changed anything related to external policies. It might be other changes that trigger the actual update though. This time it was due to updating to 1.25.1 of the provider only, no other changes.

[2022-10-07 13:24] lemaral opened #763 "Cannot upgrade provider version"
Trying to upgrade from 1.21.4 to any version upwards on darwinamd64, I get this
TF_LOG=DEBUG terrafom init -upgrade
[INFO]  Terraform version: 1.3.1
...
- Finding eddycharly/kops versions matching "1.21.4, 1.25.1"...
[DEBUG] GET https://registry.terraform.io/v1/providers/eddycharly/kops/versions
...
╷
│ Error: Failed to query available provider packages
│
│ Could not retrieve the list of available

[2022-10-07 13:29] eddycharly commented on #763
All versions are available from the [terraform registry](https://registry.terraform.io/providers/eddycharly/kops/latest/docs).

Not sure what the problem is, it should install automatically. I don't know why it doesn't want to install but it looks like an issue with your config.

[2022-10-07 13:34] lemaral commented on #763
Thank you for the faster than light reply 👍 and sorry for the trouble.
I found the problem, an inconsistency between main version vs module version. I will open a usability issue on Terraform

[2022-10-07 13:34] #763 closed

[2022-10-11 09:19] argoyle opened #766 "instance group changes"
I have added max instance lifetime to my instance groups and that seems to have caused Terraform to always have changes. The same seems to be true for removal of the kubelet-config on the instancegroups (which I haven't touched at all actually).

[code]

[2022-10-13 18:38] eddycharly commented on #766
Sorry for the late reply, I was quite busy lately.

I will try to look at it tomorrow.

[2022-10-14 07:40] argoyle commented on #766
No rush, terraform apply still works fins 😊

[2022-10-25 12:51] argoyle commented on #766
Seems like the IG kubelet-thingy is it's own issue. Tried making it computed in the `InstanceGroupSpec` and that removed the diff. Would that cause any problems somewhere? It seemed to be possible to set it on the IG and have it update, correct?

[2022-11-03 12:37] #757 closed

[2022-11-03 18:15] #766 closed